*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color: white;
    background-color: #3B5998 !important;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    gap: 50px;
}
.title{
    display: inline-block;
    font-size: 2.5em;
    margin: 25px 15px 15px 165px;
    font-weight: 900;
}
.divlogin_form {
    display: flex;
}
.login_form{
    width: 300px;
    margin-top: -80px;
    margin-left: 65%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
}
.login_form a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.rememberMe {
    cursor: pointer;
    font-size: 12px;
}
.divlogin_form input[type="submit"] {
    display: inline;
    color: white;
    background-color: #3B5998;
    border: 1px black solid;
    cursor: pointer;
    margin: -48px 40px 30px 60px;
    padding: 3px;
}
.login_form input[type="text"] {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.login_form input[type="password"] {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.login_form a {
    grid-column-start: 2;
    grid-column-end: 3;
}
label{
    display: block;
}
.content_left{
    color: #3B5998;
    font-size: 1.7em;
    margin-top: 50px;
    margin-left: 150px;
}
.content_left span{
    display: block;
}
.content {
    background: linear-gradient(to bottom, #ffffff 0%, #ccd0ff 100%);
    padding: 10px;
    padding-bottom: 50px;
}
.divsignup_form{
    margin-top: -50px;
    margin-left: 60%;
}
.divsignup_form a{
    text-decoration: none;
    color: #3B5998;
}
.divsignup_form h3 {
    font-weight: 300;
}
.signup_form input {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    padding: 1px 1px 1px 10px;
    border: 1px #3B5998 solid;
    border-radius: 8px;
}
#Semail, #SREemail, #Spassword {
    display: block;
    width: 420px;
}
.divsignup_form select{
    padding: 2px;
}
.birthday {
    color: #09389d;
}
.divsignup_form label {
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 18px;
    cursor: pointer;
}
.divsignup_form input[type="radio"] {
    margin-top: 6px;
    display: inline;
}
.divsignup_form p {
    margin-top: 10px;
    font-size: 12px;
}
.divsignup_form button{
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: green;
    color: white;
    width: 220px;
    font-size: 24px;
    padding: 5px;
    border: 2px gray solid;
    border-radius: 5px;
}
.footer {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    color: #4e4e4e;
    padding: 20px 0;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 20px;
}

.footer-content ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

.footer-content ul li {
    display: inline-block;
    margin: 0 10px;
}

.footer-content ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #3B5998;
}
.footer-content span {
    font-size: 12px;
}
.makeitblock {
    display: block;
}